*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# 229t specific
MNIST
*.pk
*.txt
*.fig
writing/abstract/abstract.aux
writing/abstract/abstract.bbl
writing/abstract/abstract.blg
writing/abstract/abstract.fdb_latexmk
writing/abstract/abstract.fls
writing/abstract/abstract.log
writing/abstract/abstract.pdf
writing/abstract/abstract.synctex.gz
writing/progress/objective.aux
writing/progress/objective.fdb_latexmk
writing/progress/objective.fls
writing/progress/objective.log
writing/progress/progress.aux
writing/progress/progress.bbl
writing/progress/progress.blg
writing/progress/progress.fdb_latexmk
writing/progress/progress.fls
writing/progress/progress.log
writing/progress/progress.synctex.gz
cost[_][_16][_16_16][_16_16_16].pdf
cost_.pdf
cost_16.pdf
grad_.pdf
grad_16.pdf
grad_16_16.pdf
grad_16_16_16.pdf
cost[_][_16][_16_16][_16_16_16].pdf
